     <nav><a href="/"> Home </a> 
        <a href="/roles"> Scrum Team Roles </a>
        <a href="/events"> Scrum Events </a>
        <a href="/artifacts"> Artifacts </a>
        <a href="/erin"> About the Author </a>
    </nav>